<h1>About This Assignment:</h1>
<p>For this assignment, I have recreated the PA03 app as an Express app using MongoDB (through Mongoose) as the database. I have accomplished this by adding the transactions features to the firstapp demo we have been working on in class.</p>
<h3>This app contains:</h3>
<ul>
  <li>Login feature</li>
  <li>Main page that displays a list of transactions</li>
  <li>Feature to add, delete, and edit transactions</li>
  <li>Feature to sort by any column and group by the category column</li>
  <li>Feature to create a to-do list and mark them by their priority</li>
</ul>