<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>COSI103A</h1>
    <p>Welcome to COSI103A</p>
    <br>
    <ul>
      <li>uno</li>
      <li>dos</li>
      <li>tres</li>
    </ul>
    <a href="https://www.brandeis.edu">Brandeis</a>
    <br>
    <%= Date() %>
    <br>
    
  </body>
</html>
